<div class="p-5">
    <div class="row justify-content-center">
        <div class="border rounded-4 p-5 col-sm-8 col-10 col-md-5">
            <div class="row g-2">
                <h1 class="text-center">Login</h1>
                <form [formGroup]="formLogin" (submit)="send()">
                    <div class="">
                        <label for="" class="h4">Email</label>
                        <input type="text" formControlName="email" class="form-control mb-2" [(ngModel)]="email">
                    </div>
                    <div class="">
                        <label for="" class="h4">Password</label>
                        <input type="password" formControlName="password" class="form-control mb-2">
                    </div>
                    <div>
                        <button class="btn btn-primary" [disabled]="formLogin.invalid">Submit</button>
                    </div>
                </form>
                <h6 style="color: red;" *ngIf="mensajeIncorrecto">Usuario y/o contraseña incorrectos</h6>
                <h6 style="color: rgb(0, 209, 10);" *ngIf="mensajeCorrecto">Correcto</h6>
            </div>
        </div>
    </div>
</div>